.heading {
    text-align: center;
    margin: 1em;
    font-weight: 600;
    color: #0D2363;
}
#eventPic01 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./eventPic01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
#eventPic02 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./eventPic02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
#eventPic03 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./eventPic03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
#eventPic04 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./eventPic04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
#eventPic05 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./eventPic05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
#eventPic06 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./eventPic06.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
#eventPic07 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./eventPic07.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
#eventPic08 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./eventPic08.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}

.clickable {
   padding: 1em;
    margin: .25em;
}
